
@{
    ViewBag.Title = "NameFirst";
}
<style>
    #main {
    /*background-color:magenta;*/
    text-align:center;
    color:#0094ff;
    }
</style>
<div id="main">
    <h2>簽到成功</h2>

    <h2>
        課程名稱：全端工程師就業養成班
    </h2>
    <h2>
        學生姓名：陳小饅
    </h2>
    <h2>
        刷卡時間：@ViewBag.KK
    </h2>
</div>