
@{
    ViewBag.Title = "Save";
}




<form method="post" action="~/page1/Save">
    <p>
        <input type="hidden" name="txtName" />
        <input type="hidden" name="txtName" />
    </p>
    <h2>簽到成功</h2>

    <h2>
        課程名稱：全端工程師就業養成班
    </h2>
    <h2>
        學生姓名：陳小饅
    </h2>
    <h2>
        刷卡時間：@ViewBag.KK @ViewBag.KK2
    </h2>



</form>
